In [43]:
import pandas as pd
import numpy as np

In [44]:
dwn_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data'
df = pd.read_csv(dwn_url)

In [45]:
df

,75,0,190,80,91,193,371,174,121,-16,...,0.0.38,9.0,-0.9,0.0.39,0.0.40,0.9.2,2.9.1,23.3,49.4,8
0,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
1,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
2,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
3,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
4,13,0,169,51,100,167,321,174,91,107,...,-0.6,12.2,-2.8,0.0,0.0,0.9,2.2,13.5,31.1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
447,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
448,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
449,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
450,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

## **Preprocessing**

embagi data menjadi beberapa fold untuk dataset menjadi subset data training dan subset data testing.

In [46]:
df.head()

,75,0,190,80,91,193,371,174,121,-16,...,0.0.38,9.0,-0.9,0.0.39,0.0.40,0.9.2,2.9.1,23.3,49.4,8
0,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
1,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
2,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
3,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
4,13,0,169,51,100,167,321,174,91,107,...,-0.6,12.2,-2.8,0.0,0.0,0.9,2.2,13.5,31.1,14

In [47]:
df.info

<bound method DataFrame.info of      75  0  190  80   91  193  371  174  121  -16  ... 0.0.38   9.0  -0.9  \
0    56  1  165  64   81  174  401  149   39   25  ...    0.0   8.5   0.0
1    54  0  172  95  138  163  386  185  102   96  ...    0.0   9.5  -2.4
2    55  0  175  94  100  202  380  179  143   28  ...    0.0  12.2  -2.2
3    75  0  190  80   88  181  360  177  103  -16  ...    0.0  13.1  -3.6
4    13  0  169  51  100  167  321  174   91  107  ...   -0.6  12.2  -2.8
..   .. ..  ...  ..  ...  ...  ...  ...  ...  ...  ...    ...   ...   ...
446  53  1  160  70   80  199  382  154  117  -37  ...    0.0   4.3  -5.0
447  37  0  190  85  100  137  361  201   73   86  ...    0.0  15.6  -1.6
448  36  0  166  68  108  176  365  194  116  -85  ...    0.0  16.3 -28.6
449  32  1  155  55   93  106  386  218   63   54  ...   -0.4  12.0  -0.7
450  78  1  160  70   79  127  364  138   78   28  ...    0.0  10.4  -1.8

    0.0.39 0.0.40  0.9.2  2.9.1  23.3  49.4   8
0      0.0    0.0    0.2    2.1  20.4  38.8   6
1      0.0    0.0    0.3    3.4  12.3  49.0  10
2      0.0    0.0    0.4    2.6  34.6  61.6   1
3      0.0    0.0   -0.1    3.9  25.4  62.8   7
4      0.0    0.0    0.9    2.2  13.5  31.1  14
..     ...    ...    ...    ...   ...   ...  ..
446    0.0    0.0    0.7    0.6  -4.4  -0.5   1
447    0.0    0.0    0.4    2.4  38.0  62.4  10
448    0.0    0.0    1.5    1.0 -44.2 -33.2   2
449    0.0    0.0    0.5    2.4  25.0  46.6   1
450    0.0    0.0    0.5    1.6  21.3  32.8   1

[451 rows x 280 columns]>

In [48]:
df.describe

<bound method NDFrame.describe of      75  0  190  80   91  193  371  174  121  -16  ... 0.0.38   9.0  -0.9  \
0    56  1  165  64   81  174  401  149   39   25  ...    0.0   8.5   0.0
1    54  0  172  95  138  163  386  185  102   96  ...    0.0   9.5  -2.4
2    55  0  175  94  100  202  380  179  143   28  ...    0.0  12.2  -2.2
3    75  0  190  80   88  181  360  177  103  -16  ...    0.0  13.1  -3.6
4    13  0  169  51  100  167  321  174   91  107  ...   -0.6  12.2  -2.8
..   .. ..  ...  ..  ...  ...  ...  ...  ...  ...  ...    ...   ...   ...
446  53  1  160  70   80  199  382  154  117  -37  ...    0.0   4.3  -5.0
447  37  0  190  85  100  137  361  201   73   86  ...    0.0  15.6  -1.6
448  36  0  166  68  108  176  365  194  116  -85  ...    0.0  16.3 -28.6
449  32  1  155  55   93  106  386  218   63   54  ...   -0.4  12.0  -0.7
450  78  1  160  70   79  127  364  138   78   28  ...    0.0  10.4  -1.8

    0.0.39 0.0.40  0.9.2  2.9.1  23.3  49.4   8
0      0.0    0.0    0.2    2.1  20.4  38.8   6
1      0.0    0.0    0.3    3.4  12.3  49.0  10
2      0.0    0.0    0.4    2.6  34.6  61.6   1
3      0.0    0.0   -0.1    3.9  25.4  62.8   7
4      0.0    0.0    0.9    2.2  13.5  31.1  14
..     ...    ...    ...    ...   ...   ...  ..
446    0.0    0.0    0.7    0.6  -4.4  -0.5   1
447    0.0    0.0    0.4    2.4  38.0  62.4  10
448    0.0    0.0    1.5    1.0 -44.2 -33.2   2
449    0.0    0.0    0.5    2.4  25.0  46.6   1
450    0.0    0.0    0.5    1.6  21.3  32.8   1

[451 rows x 280 columns]>

In [49]:
df.shape

(451, 280)

## Mengecek data yang hilang dengan NaN

fungsi ganti_data_tak_diketahui digunakan untuk mengganti nilai-nilai yang tidak diketahui

In [50]:
def ganti_data_tak_diketahui(df):
    return df.replace(['?'], np.NaN)

In [51]:
df = ganti_data_tak_diketahui(df)

In [52]:
df

,75,0,190,80,91,193,371,174,121,-16,...,0.0.38,9.0,-0.9,0.0.39,0.0.40,0.9.2,2.9.1,23.3,49.4,8
0,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
1,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
2,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
3,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
4,13,0,169,51,100,167,321,174,91,107,...,-0.6,12.2,-2.8,0.0,0.0,0.9,2.2,13.5,31.1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
447,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
448,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
449,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
450,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [53]:
def laporan_data_hilang(df):
    null = df.isnull().sum()
    for i in range(len(df.columns)):
        if null[i] > 0:
            print(f"{df.columns[i]}: {null[i]} ({(null[i]/len(df))*100}%)")
    total_cells = np.product(df.shape)
    total_missing = null.sum()
    print(f"\nTotal data yang hilang: {total_missing} ({(total_missing/total_cells) * 100}%)\n")

In [54]:
laporan_data_hilang(df)

13: 8 (1.7738359201773837%)
64: 22 (4.878048780487805%)
-2: 1 (0.22172949002217296%)
?: 375 (83.14855875831486%)
63: 1 (0.22172949002217296%)

Total data yang hilang: 407 (0.32229965156794427%)

In [55]:
# Melakukan folding pada data
fold1 = (df.iloc[0:50].reset_index(drop=True), df.iloc[50:150].reset_index(drop=True))
fold2 = (df.iloc[50:100].reset_index(drop=True), pd.concat([df.iloc[0:50], df.iloc[100:150]]).reset_index(drop=True))
fold3 = (df.iloc[100:150].reset_index(drop=True), df.iloc[0:100].reset_index(drop=True))

test, train = fold2
print(train)

    75  0  190  80   91  193  371  174  121  -16  ... 0.0.38   9.0 -0.9  \
0   56  1  165  64   81  174  401  149   39   25  ...    0.0   8.5  0.0
1   54  0  172  95  138  163  386  185  102   96  ...    0.0   9.5 -2.4
2   55  0  175  94  100  202  380  179  143   28  ...    0.0  12.2 -2.2
3   75  0  190  80   88  181  360  177  103  -16  ...    0.0  13.1 -3.6
4   13  0  169  51  100  167  321  174   91  107  ...   -0.6  12.2 -2.8
..  .. ..  ...  ..  ...  ...  ...  ...  ...  ...  ...    ...   ...  ...
95  18  0  175  60  102  135  379  167   73   91  ...   -1.8  11.8 -2.0
96  34  1  155  54   86  127  369  157   78   23  ...    0.0   8.6 -0.8
97  39  1  160  62   80  123  375  153   67   60  ...    0.0   5.3 -0.7
98  17  1  160  54   85  137  323  143   87   72  ...   -0.8   8.3 -1.8
99  48  1  156  62   85  176  385  172  104   78  ...    0.0   7.5 -1.5

   0.0.39 0.0.40  0.9.2  2.9.1  23.3  49.4   8
0     0.0    0.0    0.2    2.1  20.4  38.8   6
1     0.0    0.0    0.3    3.4  12.3  49.0  10
2     0.0    0.0    0.4    2.6  34.6  61.6   1
3     0.0    0.0   -0.1    3.9  25.4  62.8   7
4     0.0    0.0    0.9    2.2  13.5  31.1  14
..    ...    ...    ...    ...   ...   ...  ..
95    0.0    0.0    0.6    1.4  17.1  29.7  10
96    0.0    0.0    0.7    1.8  17.5  31.9   1
97    0.0    0.0    0.4    1.9   9.2  23.2   1
98    0.0    0.0    0.9    1.3  10.4  18.4  10
99    0.0    0.0    0.7    2.0  10.2  29.0   1

[100 rows x 280 columns]

In [56]:
# Normalizations
def norm(df):
  df = (df - df.min()) / (df.max() - df.min()) 
  return df

In [57]:
df

,75,0,190,80,91,193,371,174,121,-16,...,0.0.38,9.0,-0.9,0.0.39,0.0.40,0.9.2,2.9.1,23.3,49.4,8
0,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
1,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
2,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
3,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
4,13,0,169,51,100,167,321,174,91,107,...,-0.6,12.2,-2.8,0.0,0.0,0.9,2.2,13.5,31.1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
447,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
448,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
449,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
450,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

Warning: Total number of columns (280) exceeds max_columns (20) limiting to first (20) columns.

## kNN Model

Pada model kNN ini, digunakan menghitung jarak menggunakan Euclidean Distance yang menghitung jarak antara dua vektor x1 dan x2. Euclidean Distance dihitung sebagai akar kuadrat dari jumlah kuadrat selisih antara setiap elemen vektor.

In [58]:
def euclidean(x1, x2):
    return np.sqrt(np.sum((x1 - x2) ** 2))

Fungsi knn digunakan untuk melatih model kNN. Fungsi ini menerima empat argumen, yaitu X_train (data training untuk fitur), y_train (label kelas dari data training), X_test (data testing untuk fitur), dan k (jumlah tetangga yang akan dipertimbangkan).

In [59]:
def knn(X_train, y_train, X_test, k):
    dist = []

    for row in range(X_train.shape[0]):
        dist.append(euclidean(X_train.iloc[row], X_test))

    data = X_train.copy()
    data['Dist'] = dist
    data['Class'] = y_train

    data = data.sort_values(by='Dist').reset_index(drop=True)

    y_pred = data.iloc[:k].Class.mode()

    return y_pred[0]

## Evaluation

Evaluation model dengan menggunakan data hasil folding sebelumnya yang digunakan untuk mengevaluasi model kNN

In [60]:
def acc(y_pred, y_true):
    true = 0
    for i in range(len(y_pred)):
        if y_pred[i] == y_true[i]:
            true += 1
    return true / len(y_pred)

In [61]:
def evaluate(fold, k):
    test, train = fold

    X_train, y_train = train.drop("classes", axis=1), train["classes"]
    X_test, y_test = test.drop("classes", axis=1), test["classes"]

    X_train = norm(X_train)
    X_test = norm(X_test)

    y_preds = []

    for row in range(X_test.shape[0]):
        y_preds.append(knn(X_train, y_train, X_test.iloc[row], k))

    return acc(y_preds, y_test)

In [67]:
best_accuracy = 0
folds = [fold1, fold2, fold3]
accs = []

for k in range(1, 22): 
    accs = []
    for fold in folds:
          print(f'Nilai K: {k}, akurasi: {sum(accs) / 2}')

Nilai K: 1, akurasi: 0.0
Nilai K: 1, akurasi: 0.0
Nilai K: 1, akurasi: 0.0
Nilai K: 2, akurasi: 0.0
Nilai K: 2, akurasi: 0.0
Nilai K: 2, akurasi: 0.0
Nilai K: 3, akurasi: 0.0
Nilai K: 3, akurasi: 0.0
Nilai K: 3, akurasi: 0.0
Nilai K: 4, akurasi: 0.0
Nilai K: 4, akurasi: 0.0
Nilai K: 4, akurasi: 0.0
Nilai K: 5, akurasi: 0.0
Nilai K: 5, akurasi: 0.0
Nilai K: 5, akurasi: 0.0
Nilai K: 6, akurasi: 0.0
Nilai K: 6, akurasi: 0.0
Nilai K: 6, akurasi: 0.0
Nilai K: 7, akurasi: 0.0
Nilai K: 7, akurasi: 0.0
Nilai K: 7, akurasi: 0.0
Nilai K: 8, akurasi: 0.0
Nilai K: 8, akurasi: 0.0
Nilai K: 8, akurasi: 0.0
Nilai K: 9, akurasi: 0.0
Nilai K: 9, akurasi: 0.0
Nilai K: 9, akurasi: 0.0
Nilai K: 10, akurasi: 0.0
Nilai K: 10, akurasi: 0.0
Nilai K: 10, akurasi: 0.0
Nilai K: 11, akurasi: 0.0
Nilai K: 11, akurasi: 0.0
Nilai K: 11, akurasi: 0.0
Nilai K: 12, akurasi: 0.0
Nilai K: 12, akurasi: 0.0
Nilai K: 12, akurasi: 0.0
Nilai K: 13, akurasi: 0.0
Nilai K: 13, akurasi: 0.0
Nilai K: 13, akurasi: 0.0
Nilai K: 14, akurasi: 0.0
Nilai K: 14, akurasi: 0.0
Nilai K: 14, akurasi: 0.0
Nilai K: 15, akurasi: 0.0
Nilai K: 15, akurasi: 0.0
Nilai K: 15, akurasi: 0.0
Nilai K: 16, akurasi: 0.0
Nilai K: 16, akurasi: 0.0
Nilai K: 16, akurasi: 0.0
Nilai K: 17, akurasi: 0.0
Nilai K: 17, akurasi: 0.0
Nilai K: 17, akurasi: 0.0
Nilai K: 18, akurasi: 0.0
Nilai K: 18, akurasi: 0.0
Nilai K: 18, akurasi: 0.0
Nilai K: 19, akurasi: 0.0
Nilai K: 19, akurasi: 0.0
Nilai K: 19, akurasi: 0.0
Nilai K: 20, akurasi: 0.0
Nilai K: 20, akurasi: 0.0
Nilai K: 20, akurasi: 0.0
Nilai K: 21, akurasi: 0.0
Nilai K: 21, akurasi: 0.0
Nilai K: 21, akurasi: 0.0